<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Chase Banking Regression Suite ">
<listeners>
<listener class-name = "com.qa.ExtentReportListeners.ExtentReportListener"/> 
</listeners>

	<test name="Chase HomePage Test chrome ">
		<!--  <groups>
		<run> 
		<include name="atm"></include>
		<include name="homepage"></include>
		</run>
		</groups> -->
		  <classes>
			<class name="com.qa.tests.HomePageTest"></class>	
			<class name="com.qa.tests.AtmBranchPageTest"></class>	
		  </classes>

	</test>
</suite>
